fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
Pillow
numpy
psycopg2-binary
cloudinary
email-validator
reportlab
httpx
timm==0.9.12
torch>=2.0.0
torchvision>=0.15.0
safetensors
huggingface_hub
