fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
Pillow
numpy
psycopg2-binary
cloudinary
email-validator
reportlab
httpx
timm==0.9.12
